/* Game Board */
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  /* When the children <div> have a greater width than 400px, then wrap those <div> into next line */
  flex-wrap: wrap;
  background-color: grey;
  margin: 5rem auto 0rem;
}

.grid div {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}

/* Single Grid Style */
.unopened {
  background: url('img/unopened.svg');
  cursor: pointer;
}
.opened {
  background: url('img/opened.svg');
}
.flag {
  background: url('img/flag.svg');
}
.question {
  background: url('img/question.svg');
}
.bomb {
  background: url('img/mine.png');
}
.mine-neighbour-1 {
  background: url('img/1.svg');
}
.mine-neighbour-2 {
  background: url('img/2.svg');
}
.mine-neighbour-3 {
  background: url('img/3.svg');
}
.mine-neighbour-4 {
  background: url('img/4.svg');
}
.mine-neighbour-5 {
  background: url('img/5.svg');
}
.mine-neighbour-6 {
  background: url('img/6.svg');
}
.mine-neighbour-7 {
  background: url('img/7.svg');
}
.mine-neighbour-8 {
  background: url('img/8.svg');
}
